$subG:#009132;
$subY:#FFBB0D;

@mixin menuTitle{
    font-family: "Noto Sans KR" ;
    font-weight:600;
    color: #333;
    font-size: 1.5rem;
}

@mixin menuText{
    font-family: "Noto Sans KR" ;
    font-weight:300;
    color: #666;
    font-size: 1rem;
}
#hd{
    div{
        .iconMenu{
            li{
                a{
                    font-size: .9rem;
                }
            }
        }
    }
    .gnb{
        border-top:1px solid $subY;
        li{
            a{
                font-size: 1.1rem;
                font-weight: 500;
            }
        }
    }
}
#banner{    
    .mainBanner{        
        background: url(../img/mainBanner/bg.jpg) no-repeat center;
        height:0;
        padding-top: 49.34%;
        background-size: cover;
        position: relative;
        max-width: 95%;
        border-radius: 1rem 0 1rem 1rem;
    }
    img{
        position: absolute;
        bottom: 5.3rem;
        left: 0;
        right: 0;
        margin: auto;
    }
}