#hd .inner {
  border-bottom: 1px solid;
  border-color: #FFBB0D;
}
#hd .inner h1 {
  margin: 0 auto;
  font-size: 0;
}
#hd .inner ul {
  position: absolute;
  right: 0;
}
#hd .inner ul li {
  margin-left: 1rem;
}
#hd .gnb li {
  margin: 0.5rem 0 0.5rem 1rem;
}