$subG:#009132;
$subY:#FFBB0D;
$lims:1rem;
$limy:0.5rem;

@mixin menuTitle{
    font-family: "Noto Sans KR" ;
    font-weight:600;
    color: #333;
    font-size: 1.5rem;
}

@mixin menuText{
    font-family: "Noto Sans KR" ;
    font-weight:300;
    color: #666;
    font-size: 1rem;
}
#hd{
    .inner{
        border-bottom: 1px solid;
        border-color: $subY;
        h1{ 
            margin: 0 auto;
            font-size: 0;
            a{
                img{

                }
            }
        }
        ul{
            position: absolute;
            right: 0;
            li{
                margin-left: $lims;
            }
        }
    }
    .gnb{
        li{
            margin: $limy 0 $limy $lims;
        }
    }
}